{% extends 'meetup/base/base.html' %}
{% load static %}
    {% block title %} All Meetings {% endblock %} {% block css_style %}
    <link rel="stylesheet" href="{% static 'meetup/styles/base.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'meetup/styles/all_meetups.css' %}"
    />
    {% endblock %}
  <body>
{% block header_title %}
      <h1>All Meetings List</h1>
{% endblock  %}
  
  
  {% block content %}
      <header id="main-header">
      <nav>
        <a href="/meetups" id="main-logo">Django Meetups</a>
        <h1>We got great meetups coming up!</h1>
        <h1>Choose one that suits.</h1>
      </nav>
    </header>
  {% endblock  %}
 
  
  {% block body_content %}
    <section>
        <h2>Upcoming Meetings</h2>
        <ol>
          {% for meetup in meetings %}
          <li class="meetup-item">
            <article>
              <div class="meetup-summary">
                <div class="meetup-image">
                  <img src="{{ meetup.image.url }}" alt="{{ meetup.title }}" />
                </div>
                <div class="meetup-details">
                  <h3>{{meetup.title}}</h3>
                  {% comment %} <address>{{ meetup.location}}</address> {% endcomment %}
                </div>
              </div>
              <div class="meetup-actions">
                <a
                  href="{% url 'meetup:meetup_detail' meetup.slug %}"
                  class="btn"
                  >More Details</a
                >
              </div>
            </article>
          </li>
          {% endfor %}
        </ol>
      </section>
  {% endblock  %}
    

  </body>
</html>
